{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Pick Your Park</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>

<body class="container-fluid" style="background-color: #FCF5E2">
<center class="row">
	<h1 style="font-size:500%;"><b>Pick Y<img src="{% static 'TigerPaw.png' %}" style="width:0.8em;">ur Park</b></h1>
	<h2 style="font-size:300%">Parking Lot Utilization</h2>
</center>
<hr />
<div class="row">
	<div class="col-12" style="position: relative; height: 75vh; width: 97vw">
	<canvas id="myChartBar"></canvas>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
	var endpoint = '/api';

	var getData = function() {
		$.ajax({
		method: "GET",
		url: endpoint,
		success: function(data) {
			drawBarGraph(data, 'myChartBar');
			console.log("drawing");
		},
		error: function(error_data) {
			console.log(error_data);
		}
		})
	}
	setInterval(getData,3000);

	function titleSize() {
		if(window.innerWidth >= 2*window.innerHeight) {
			return window.innerHeight*.04;
		}
		return window.innerHeight*.03;
	}
	function bodySize() {
		if(window.innerWidth >= 2*window.innerHeight) {
			return window.innerHeight*.04;
		}
		return window.innerHeight*.025;
	}
	function drawBarGraph(data, id) {
	var labels = data.labels;
	var chartLabel = data.chartLabel;
	var chartdata = data.chartdata;
	var ctx = document.getElementById(id).getContext('2d');
	var LegendClickHandler = function(e,legenditem) {
	};
	//var colors = ['rgba(245, 102, 0, 1)','rgba(245, 102, 0, 1)','rgba(245, 102, 0, 1)','rgba(245, 102, 0, 1)','rgba(245, 102, 0, 1)'];
	var colors = ['#FF0D0D','#FF0D0D','#FF0D0D','#FF0D0D','#FF0D0D',]
	for(i=0;i<5;i++)
	{
		if(chartdata[i]>8)
		{
			colors[i]='#69B34C';
		}
		else if(chartdata[i]>6)
		{
			colors[i]='#ACB334';
		}
		else if(chartdata[i]>4)
		{
			colors[i]='#FAB733';
		}
		else if(chartdata[i]>2)
		{
			colors[i]='#FF8E15'
		}
		else if(chartdata[i]>0)
		{
			colors[i]='#FF4E11'
		}
	}
	var myChart = new Chart(ctx, {
		type: 'horizontalBar',
		data: {
		labels: labels,
		datasets: [{
			label: chartLabel,
			data: chartdata,
			backgroundColor: colors,
			borderColor: colors,
			borderWidth: 2
		}]
		},
		options: {
		tooltips: {
			titleFontSize: titleSize(),
			bodyFontSize: bodySize(),
		},
		responsive: true,
		maintainAspectRatio: false,
		animation: {
			duration: 0
		},
		indexAxis: 'y',
		scales: {
			xAxes: [{
			ticks: {
				beginAtZero: true,
				fontSize: 25
			},
			gridlines: {
				display: false
			}
			}],
			yAxes: [{
				gridlines: {
					display: false
				},
				ticks: {
					fontSize: 25
				}
			}]
		},
		legend: {
			display: true,
			labels: {
				fontSize: 35,
				boxWidth: 0,
			},
			onClick: LegendClickHandler,
		},
		}
	});
	}
</script>
</body>

</html>
